body {
  padding: 0;
  margin: 0;
}

.error {
  white-space: pre;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.json-row {
  width: calc(100% - 200px);
}

.requests {
  flex: 0 0 200px;
  height: 100vh;
  border-right: 1px solid #aaa;
  overflow-y: scroll;
}

.request {
  padding: 3px 5px;
  cursor: pointer;
}

.request:hover {
  background: #eaf0f9;
}

.request.active {
  background: #1e80f0 !important;
  color: white !important;
}

.json-wrapper {
  flex: 0 0 50%;
  padding: 10px;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
  font-size: 12px;
}
